
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>StupidGso Api</title>

    <link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/highlightjs/styles/foundation.css" rel="stylesheet">
    <style>
      body{
        margin-top: 70px;
        }
    </style>
  </head>
  <body data-spy="scroll" data-target=".sidebar">

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">StupidGso API</a>
        </div>
        <div class="navbar-collapse collapse sidebar">
          <ul class="nav navbar-nav">
            <li><a href="#intro">Einleitung</a></li>
            <li><a href="#weeks">Weeks</a></li>
            <li><a href="#types">Types</a></li>
            <li><a href="#element">Elements</a></li>
            <li><a href="#timetable">Timetable</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


    <div class="container">

      <div class="row">
  	    
  	    <div class="col-md-12">
  	    
            <h2 id="intro">Einleitung</h2>
            <hr>
            <p>StupidGSO Api ist eine REST-basierte Schnittstelle zum Stundenplan des Georg-Simon-Ohm-Berufskollegs in Köln (GSO).</p>
            <p>Der originale Stundenplan ist <a href="http://stupid.gso-koeln.de/">hier</a> zu finden und eine Mobile-optimierte Version anhand dieser API <a href="http://gso.medok.in/">hier</a></p>
            <p>Diese Schnittstelle holt den originalen Stundenplan und dessen Bausteine von der GSO-Seite und Übersetzt diese. Alle Daten werden aus Performancegründen für eine variable Zeit zwischengespeichert.</p>
            
            
            <h2 id="weeks">Weeks</h2>
            <hr>
            <p>Wochenzahlen für die ein Stundenplan verfügbar ist.</p>
            
            <h4>Call</h4>
            <pre>GET {{url}}/v1/weeks</pre>
            
            <h4>Parameter</h4>
            <table class="table table-bordered">
            	<thead>
              	<tr>
              	  <th>Name</th>
              		<th>Type</th>
              		<th>Required</th>
              	</tr> 
            	</thead>
            	<tbody>
            	  <tr>
              	  <td>none</td>
              	  <td></td>
              	  <td></td>
              	</tr>
              </tbody>
            </table>
            
            <h4>Response</h4>
<pre><code>[
  "51",
  "52",
  "01"
]
</code></pre>
            
            <h2 id="types">Types</h2>
            <hr>
            <p>Kategorien der Elemente.</p>
            
            <h4>Call</h4>
            <pre>GET {{url}}/v1/types</pre>
            
            <h4>Parameter</h4>
            <table class="table table-bordered">
            	<thead>
              	<tr>
              	  <th>Name</th>
              		<th>Type</th>
              		<th>Required</th>
              	</tr> 
            	</thead>
            	<tbody>
            	  <tr>
              	  <td>none</td>
              	  <td></td>
              	  <td></td>
              	</tr>
              </tbody>
            </table>
  
            <h4>Response</h4>
<pre><code>[
  "classes",
  "teachers",
  "rooms"
]  
</code></pre>
  
            <h2 id="element">Elements</h2>
            <hr>
            <p>Namen der Elemente, die ein Stundenplan besitzen.</p>
            
            <h4>Call</h4>
            <pre>GET {{url}}/v1/elements/{type}</pre>
            
            <h4>Parameter</h4>
            <table class="table table-bordered">
            	<thead>
              	<tr>
              	  <th>Name</th>
              		<th>Type</th>
              		<th>Required</th>
              	</tr> 
            	</thead>
            	<tbody>
            	  <tr>
              	  <td>type</td>
              	  <td>string</td>
              	  <td>true</td>
              	</tr>
              </tbody>
            </table>
  
            <h4>Response</h4>          
<pre><code>[
  "AVM11",
  "AVM12",
  "AVM13",
  "AVM14",
  "AVM15",
  ...
]  
</code></pre>
  
            <h2 id="timetable">Timetable</h2>
            <hr>
            <p>Stundenplan</p>
            
            <h4>Call</h4>
            <pre>GET {{url}}/v1/timetable/{type}/{element}/{week}</pre>
            
            <h4>Parameter</h4>
            <table class="table table-bordered">
            	<thead>
              	<tr>
              	  <th>Name</th>
              		<th>Type</th>
              		<th>Required</th>
              	</tr> 
            	</thead>
            	<tbody>
            	  <tr>
                	<td>type</td>
                	<td>string ("classes", "teachers", "rooms")</td>
                	<td>true</td>
              	</tr>
            	  <tr>
                	<td>element</td>
                	<td>string</td>
                	<td>true</td>
              	</tr>
            	  <tr>
                	<td>week</td>
                	<td>int</td>
                	<td>true</td>
              	</tr>
              </tbody>
            </table>
            
            <h4>Response</h4>          
<pre><code>[
  {
    "text": [
      "PO",
      "C013",
      "ITK"
    ],
    "changed": false,
    "hour": 1,
    "day": 3
  },
  {
    "text": [
      "LN",
      "UA01",
      "ANW"
    ],
    "changed": false,
    "hour": 5,
    "day": 3
  },
  {
    "text": [
      "---",
      "---",
      "---"
    ],
    "changed": true,
    "hour": 8,
    "day": 3
  }
] 
</code></pre>
	      </div>
	    
      </div>

    </div> <!-- /container -->


    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="vendor/highlightjs/highlight.pack.js"></script>
    <script>
    $(document).ready(function() {
      console.log("pretty");
      $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
    });
    </script>
  </body>
</html>
